/* Style */

.footer_article {
    display: flex;
    padding: 64px 260px;
    justify-content: center;
    align-items: flex-start;
    gap: 57px;
    flex-shrink: 0;
    background: #1C9DC9;
    white-space: nowrap;
    border-top: 10px #94DFF8 solid;
    outline: 10px solid #B7E9FA;
}

.footer_elements {
    display: flex;
    align-items: flex-start;
    gap: 48px;
}

/* Footer mid elements */

.footer_three_elemets {
    display: flex;
    align-items: flex-start;
    gap: 48px;
}

.footer_item {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    gap: 8px;
}

.footer_item_title {
    color: #000;
    font-family: 'Montserrat';
    font-size: 24px;
    font-style: normal;
    font-weight: 700;
    line-height: 32px;
}

.footer_item_text {
    padding: 7px 0px;
    color: #FFF;
    font-family: 'Montserrat';
    font-size: 18px;
    font-style: normal;
    font-weight: 500;
    line-height: 28px;
}

/* Sign up section */

.footer_sign_up_social {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    gap: 44px;
}

.footer_sign_up_input_div {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    gap: 16px;
}

.footer_sign_up_text_title_div {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    gap: 8px;
    align-self: stretch;
}

.footer_sign_up_title {
    display: flex;
    align-items: center;
    gap: 8px;
    align-self: stretch;
}

.footer_sign_up_bold {
    color: #000;
    font-family: 'Montserrat';
    font-size: 24px;
    font-style: normal;
    font-weight: 700;
    line-height: 32px;
}


.footer_sign_up_regular {
    color: #FFF;
    font-family: 'Montserrat';
    font-size: 18px;
    font-style: normal;
    font-weight: 700;
    line-height: 28px;
}

.footer_sign_up_text {
    color: #FFF;
    font-family: 'Montserrat';
    font-size: 18px;
    font-style: normal;
    font-weight: 500;
    line-height: 28px;
}

.footer_input_submit_btn_div {
    display: flex;
    gap: 8px;
}

.footer_email_input {
    display: flex;
    padding: 8px;
    align-items: center;
    gap: 8px;
    flex: 1 0 0;
    align-self: stretch;
    color: #FFF;
    font-family: 'Montserrat';
    font-size: 16px;
    font-style: normal;
    font-weight: 500;
    line-height: 24px;
    outline: none;
    border: 1px white solid;
    border-radius: 6px;
    background-color: #1C9DC9;
}

.footer_email_input::placeholder {
    color: white;
}

.footer_submit_btn_div {
    display: flex;
    width: 120px;
    align-items: flex-start;
    flex-shrink: 0;
}

.footer_submit_btn {
    display: flex;
    padding: 8px;
    justify-content: center;
    align-items: center;
    gap: 10px;
    flex: 1 0 0;
    align-self: stretch;
    border-radius: 8px;
    background: #000;
    box-shadow: 0px 2px 0px 0px #FFF;
    color: #FFF;
    text-align: center;
    font-family: 'Montserrat';
    font-size: 16px;
    font-style: normal;
    font-weight: 700;
    line-height: 24px;
}

.footer_follow_us_social_icons {
    display: flex;
    align-items: center;
    gap: 16px;
}

.footer_social_icons_text {
    color: #02455C;
    font-family: 'Montserrat';
    font-size: 16px;
    font-style: normal;
    font-weight: 700;
    line-height: 24px;
    white-space: nowrap;
}

.footer_sign_up_regular_cont_txt{
    display: none;
}