/* Small desktop version */

@media only screen and (max-width:1150px) {
    .welcome_main {
        padding: 64px 20px;
    }

    .welcome_main_left_part_text_div {
        display: none;
    }

    .welcome_main_left_part_elements {
        justify-content: center;
        width: auto;
    }
}

/* Tablet version */

@media only screen and (max-width:900px) {

    .welcome_main {
        height: 100%;
        padding: 64px 20px;
    }

    .welcome_parts{
        flex-direction: column;
    }

    .welcome_right_part_first_div {
        text-align: center;
    }

    .welcome_main_left_part {
        justify-content: space-between;
        gap: 16px;
    }

    .welcome_left_part_title {
        display: block;
        text-align: center;
        padding-bottom: 16px;
    }

    .welcome_main_right_part {
        display: none;
        justify-content: space-between;
    }

    .welcome_bottom_slider_buttons {
        display: flex;
        gap: 8px;
        cursor: pointer;
    }

    .welcome_mobile_right_part_bottom_txt {
        display: block;
        color: #323232;
        font-family: 'Montserrat';
        font-size: 14px;
        font-style: normal;
        font-weight: 400;
        line-height: 20px;
    }

    .welcome_main_right_part_first_two_elements {
        align-items: center;
    }

    .welcome_bottom_right_slider_buttons {
        display: flex;
        justify-content: center;
        gap: 8px;
        width: 100%;
        cursor: pointer;
    }

}


/* Mobile version */

@media only screen and (max-width:600px) {

    .welcome_right_part_first_div_first_text {
        font-size: 40px;
        line-height: 45px;
    }

    .welcome_right_part_first_div_second_text {
        font-size: 35px;
        line-height: 40px;
    }

    .fight_or_play_div {
        width: 330px;
    }

    .paws_score_subtext {
        align-items: flex-start;
    }

    .paws_score {
        justify-content: flex-start;
    }

    .fight_or_play_btns_div {
        width: 270px;
    }

    .score_circle {
        width: 70px;
        height: 70px;
    }

    .score_text {
        font-size: 15px;
    }

    .play_today_game_btn {
        width: 330px;
        font-size: 20px;
    }

    .big_paw_img {
        width: 50px
    }

    .small_paw_img {
        width: 35px;
    }

    .paws_score {
        gap: 25px;
    }

    .paws_score_subtext {
        width: auto;
    }

    .play_today_game_btn_div {
        padding: 0px;
    }

    .welcome_left_part_main_div_btn_div {
        display: flex;
        flex-direction: column;
        gap: 16px;
    }

}